@charset "utf-8";
body{
    background-color: pink;
    text-align: center;
}


.slideshow {
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
  }

  .wrap {
    height: 340px;
    overflow: hidden;

  }

.content {
    width: 300px;
    
  }
    
  
  .content:nth-child(1) {
        
    display: flex;
    width: 300px;
    height: 800px;
}

  .content:nth-child(2) {
        
        display: flex;
        width: 300px;
        height: 800px;
  }
  .content:nth-child(3) {
        
        display: flex;
        width: 300px;
        height: 800px;
  }
  .content:nth-child(4) {
        
        display: flex;
        width: 800px;
        height: 300px;
  }
  .content:nth-child(5) {
        
        display: flex;
        width: 800px;
        height: 300px;
  }

  .slideshow img{
      height: 300px;

  }
 
  
  
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
      
    }
    
  }

  .slide-paused:hover .slideshow {
    animation-play-state: paused;
  }
  


/*skechのimg*/
  .slideshow02 {
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
    animation-direction: reverse;
  }

  .wrap {
    height: 340px;
    overflow: hidden;

  }

.content {
    width: 300px;
    
  }
    
  
  .content:nth-child(2) {
        
        display: flex;
        width: 300px;
        height: 800px;
  }
  .content:nth-child(3) {
        
        display: flex;
        width: 300px;
        height: 800px;
  }
  .content:nth-child(4) {
        
        display: flex;
        width: 300px;
        height: 800px;
  }
  

  .slideshow02 img{
      height: 300px;

  }
 
  
  
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
      
    }
    
  }

  .slide-paused:hover .slideshow02 {
    animation-play-state: paused;
  }


  /*MAYAのimg*/

  .slideshow03 {
    display: flex;
    animation: loop-slide 30s infinite linear 1s both;
  }

  .wrap {
    height: 340px;
    overflow: hidden;

  }

.content {
    width: 300px;
    
  }
    
  .content:nth-child(1) {
        
    display: flex;
    width: 800px;
    height: 300px;
}
  
  .content:nth-child(2) {
        
        display: flex;
        width: 800px;
    height: 300px;
  }
  .content:nth-child(3) {
        
        display: flex;
        width: 800px;
    height: 300px;
  }
  .content:nth-child(4) {
        
        display: flex;
        width: 800px;
    height: 300px;
  }
  .content:nth-child(5) {
        
        display: flex;
        width: 800px;
    height: 300px;
  }

  .slideshow03 img{
      height: 300px;

  }
 
  
  
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
      
    }
    
  }

  .slide-paused:hover .slideshow03 {
    animation-play-state: paused;
  }
  
  